ion-img{
    margin-left: 1.5rem;
    width: 15rem;
    height: 15rem;
}

div{
    margin-left: 15%;
    width: 70%;
    border-radius: 2rem;
    border: solid black 0.2rem;
    margin-top: 1rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.596);
}

.div{
    margin-left: 5%;
    width: 60%;
}

.apagar{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 3rem;
    
  }