

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
   /* Set the background of the entire app */
   --ion-background-color: rgb(172, 224, 196);
 
   /* Set the font family of the entire app */
   --ion-font-family: arial!important;

   --ion-text-color: rgb(22, 13, 0);

  
 }

 

 ion-button {
   --color: rgb(247, 244, 244);
   --border:solid black 2rem;
   --border-radius: 50rem;
   --background-color:white;   
   margin-left: 10%;
   width: 80%;
   margin-top: 1rem; 
   margin-bottom: 1.8rem;
   text-align: right;
   height: 3rem;
 }

 ion-button.centrar {
   --color: black;
   --border:solid black 2rem;
   --border-radius: 0rem;
   --background-color:white; 
   --font-size:large;  
   margin-left: 30%;
   width: 40%;
   margin-top: 1rem; 
   height: 5rem;
 }

 ion-img.iconito{
     height: 3rem;
     position: left, absolute;
     
 }

 select{
   margin-top: 2rem;
   width: 40rem;
   margin-left: 15%;
   border: 0.1rem solid red;
   color: black;
   height: 3rem;
   font-size: large;
   
   
 }

 .abajo{    
     position:absolute;
     bottom:1rem;       
 }

 
 

 ion-item{
     margin-top: 1rem;
     width: 70%;
     margin-left: 15%;
     border: 0;
     --ion-background-color: rgba(50, 156, 156, 0.301);
     --ion-text-color: rgb(3, 0, 0);
     border-radius: 5rem !important;
 }

 .alert-message.sc-ion-alert-md{
   color: black;
 }

 .alert-button.sc-ion-alert-md{
     color: red;
 }

 .danger-alert-btn {    
   --ion-text-color: black;
   --ion-border: 1rem black solid;
   --ion-background-color: rgb(135, 162, 192);
   --ion-font-family:bold, "roboto";   
}

h3{
  margin-left: 10%;
  width: 80%;
}

form{
  width: 80%;
  margin-left: 10%;
  margin-top: 2rem;
  border: black 0.61rem solid;
  border-radius: 0.5rem;
  background-color: rgba(14, 66, 75, 0.534);
}

